body{
    text-align: center;
   background-image: url(topLogo.jpg);
   color:white;
}

header{
    background-color: black;
    padding: 10px 0;
    text-align: center;
}

h1{
    margin: 0;
}

section{
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.5);
}

img{
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;

}

audio{
    width: 100%;
}

ul{
    list-style-type: square;
}

.btn{
    display: block;
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: red;
    text-decoration: none;
}
